body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.play2learn {
  text-align: center;
}

.play2learn p {
  height:100px;
}

#anagram_hunt {
width:50%;
height: auto;
border: 1px solid black;
float: left;
}

#math_facts {
  width:50%;
  height: auto;
  border: 1px solid black;
  float: right;
}
